extends layout

block content
	nav.navbar.navbar-default
		div.container-fluid
			ul.nav.navbar-nav.navbar-right
				li
					a.usr#usr Usuario: #{usuario}
				li(role="presentation")#notificacion
					<a href="#">Notificacion <span class="badge">3</span></a>
				li
					a(href='/').ion-close#salir 
			div.navbar-header
				button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="#").navbar-brand
					img(src='img/brand.png')
			div.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li
						a(href='/inicio') Inicio
					li
						a(href='/productos') Productos
					li.active
						a(href='#') Agregar
					li
						a(href='/registrar') Registrar
					li
						a(href='/clientes') Clientes
					li
						a(href='/caja') Caja
					li
						a(href='/configuraciones') Configuraciones
	- if(mensaje!='')
		div.alert.alert-danger.mensajes.centrar
			a(href="#" data-dismiss="alert" aria-label="close").close &times;
			strong #{mensaje}
	h1= title				
	form(role='form').form-inline#buszap
		div.form-group
			label(for='color') ¿Que tipo de producto desea agregar?: 
			select.form-control#producto
				option Selecciona una opcion
				option(value='Zapatos') Zapatos
				option(value='Carteras') Carteras
				option(value='Bolsas') Bolsas
				option(value='Otros') Otros
	h2#pro Zapatos
	div#zap
		form(role='form').form-inline#busqueda
			div.form-group
				label(for='id') Id_producto:
				input(type='text' placeholder='Id de producto' name='id_producto' value="#{id}").form-control#id
			div.form-group
				label(for='color') Color: 
				select(name='colores').form-control#color
					option(value='nll') Selecciona un color
					- if(color){
						each val in color
							option=val['color']
					- }
			div.form-group
				label(for='marca') Marca: 
				input(type='text' placeholder='Marca de producto' value='#{marca}' readonly='readonly').form-control#marca
			div.form-group
				label(for='modelo') Modelo: 
				input(type='text' placeholder='Modelo de producto' value='#{modelo}' readonly='readonly').form-control#modelo
				button(type='sumbmit' method='POST' action='/agregar').btn.btn-primary.env.ion-search  

		form(role='form').form-inline#tallas
			h2
				span.label.label-info Tallas:
			div.row.centrar
				div.form-group.col-sm-4
					label 3.0:
					input(type='number').form-control#_3.size
				div.form-group.col-sm-4
					label 3.5:
					input(type='number').form-control#_3_5.size
				div.form-group.col-sm-4
					label 4.0:
					input(type='number').form-control#_4.size
			div.row.centrar
				div.form-group.col-sm-4
					label 4.5:
					input(type='number').form-control#_4_5.size
				div.form-group.col-sm-4
					label 5.0:
					input(type='number').form-control#_5.size
				div.form-group.col-sm-4
					label 5.5:
					input(type='number').form-control#_5_5.size
			div.row.centrar
				div.form-group.col-sm-4
					label 6.0:
					input(type='number').form-control#_6.size
				div.form-group.col-sm-4
					label 6.5:
					input(type='number').form-control#_6_5.size
				div.form-group.col-sm-4
					label 7.0:
					input(type='number').form-control#_7.size
		button(type='button').btn.btn-primary.env.ion-checkmark-round  Guardar

	div#bolsa
		form(role='form').form-inline#busbol
			div.form-group
				label(for='id') Id_producto:
				input(type='text' placeholder='Id de producto' value='425637809').form-control#id
			div.form-group
				label(for='color') Color: 
				select.form-control#color
					option cafe
					option rojo
					option negro
			div.form-group
				label(for='marca') Marca: 
				input(type='text' placeholder='Marca de producto' value='Guess' readonly='readonly').form-control#marca
			div.form-group
				label(for='modelo') Modelo: 
				input(type='text' placeholder='Modelo de producto' value='G-01-fd' readonly='readonly').form-control#modelo
			div.form-group
				label(for='cantidad') Cantidad: 
				input(type='number' placeholder='Cantidad').form-control#cantidad
		button(type='button').btn.btn-primary.env.ion-checkmark-round  Guardar


	div#otros
		form(role='form').form-inline#busbol
			div.form-group
				label(for='id') Id_producto:
				input(type='text' placeholder='Id de producto' value='425637809').form-control#id
			div.form-group
				label(for='descripcion') Descripcion: 
				input(type='text' placeholder='Descripcion' value='Cartera Guess naranja' readonly='readonly').form-control#descripcion
			div.form-group
				label(for='marca') Marca: 
				input(type='text' placeholder='Marca de producto' value='Guess' readonly='readonly').form-control#marca
			div.form-group
				label(for='modelo') Modelo: 
				input(type='text' placeholder='Modelo de producto' value='CG1003' readonly='readonly').form-control#modelo
			div.form-group
				label(for='cantidad') Cantidad: 
				input(type='number' placeholder='Cantidad').form-control#cantidad
		button(type='button').btn.btn-primary.env.ion-checkmark-round  Guardar
	script(src='../js/agregar.js')